<section class="bg-white py-4">
    <div class="container-lg">
        <div class="d-flex flex-column mx-1 mx-{{ site.breakpoint }}-5">
            {% comment %} header {% endcomment %}
            <h2 class="h6 mb-1">{{ site.data.text.contributing.help_maintain_docs }}</h2>
            <small class="text-secondary">{{ site.data.text.contributing.all_docs_open_source }}</small>
            {% comment %} button {% endcomment %}
            <div class="mt-2">
                {% comment %} github file edit link {% endcomment %}
                {% assign __dir0 = page.path | split: '/' | slice: 0 | first | downcase %}
                {% if __dir0 != "404.html" %}
                    {% capture __url %}https://github.com/KatsuteDev/docs.katsute.dev/edit/main/{{ page.path }}{% endcapture %}
                {% endif %}

                <a
                    id="contributing-button"
                    class="btn btn-primary px-4"
                    href="{{ __url }}"
                    target="_blank"
                >
                    <i class="fas fa-code-branch"></i>
                    {{ site.data.text.contributing.make_a_contribution }}
                </a>
            </div>
            {% comment %} contributing link {% endcomment %}
            <small class="mt-2">
                <a class="text-decoration-none" href="/contributing">
                    {{ site.data.text.contribution.view_contribution_guidelines }}
                </a>
            </small>
        </div>
    </div>
    <script defer src="/dependencies/katsute/js/404.js"></script>
</section>