{% assign __sorted = site.pages | sort: "title", "last" %}
<ul class="mt-0">
    {% comment %} all projects link {% endcomment %}
    <li>
        <a class="small" href="/">
            <i class="fas fa-arrow-left fa-fw"></i>
            {{ site.data.text.sidebar.all_projects }}
        </a>
    </li>
    {% comment %} this project {% endcomment %}
    {% assign __this_folder = page.path | split: '/' | slice: 0 | first %}
    {% assign __this_folder_dcase = __this_folder | downcase %}
    {% assign __this_sub_folder = page.path | split: '/' | slice: 1 | first %}
    {% assign __this_sub_folder_dcase = __this_sub_folder | downcase %}
    {% comment %} find this project's name {% endcomment %}
    {% for __page in site.pages %}
        {% assign __dir = __page.path | split: '/' %}
        {% comment %} if inside this folder {% endcomment %}
        {% if __dir[0] == __this_folder %}
            {% assign __index = __dir[1] | downcase %}
            {% comment %} found index file in folder {% endcomment %}
            {% if __index == "index.html" or __index == "readme.md" %}
                {% capture __title %}{% include function/resolve-name.liquid path = __page.path %}{% endcapture %}
                {% break %}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% comment %} this repo nav item {% endcomment %}
    <li class="border-bottom border-secondary">
        <a href="/{{ __this_folder_dcase }}">
            {{ __title }}
        </a>
    </li>
    {% comment %} manual links {% endcomment %}
    {% assign __rel = __this_folder_dcase | prepend: '/' %}
    {% for __link in site.data.links[__rel] %}
        {% assign __external = __link | last | slice: 0 %}
        {% unless __external == '/' %}
            {% assign __external = true %}
        {% else %}
            {% assign __external = false %}
        {% endunless %}
        <li>
            <a href="{{ __link | last }}" {% if __external %}target="_blank"{% endif %}>
                {{ __link | first }}
                {% if __external %}
                    <i class="fas fa-external-link-alt fa-fw"></i>
                {% endif %}
            </a>
        </li>
    {% endfor %}
    {% comment %} file generated links {% endcomment %}
    {% for __page in __sorted %}
        {% assign __dir = __page.path | split: '/' %}
        {% assign __dirs = __dir | size %}
        {% comment %} if inside this folder {% endcomment %}
        {% if __dir[0] == __this_folder %}
            {% comment %} if file in immediate directory {% endcomment %}
            {% assign __dir2 = __dir[1] | downcase %}
            {% if __dir2 != "index.html" and __dir2 != "readme.md" and __dirs == 2 %}
                <li>
                    <a href="{% include function/resolve-path.liquid path=__page.path noext="true" %}">
                        {% include function/resolve-name.liquid path=__page.path %}
                    </a>
                </li>
            {% comment %} if subfolder {% endcomment %}
            {% elsif __dirs == 3 %}
                {% assign __dir3 = __dir[2] | downcase %}
                {% comment %} if folder index file {% endcomment %}
                {% if __dir3 == "index.html" or __dir3 == "readme.md" %}
                    {% assign __sub_folder = __dir2 %}
                    {% assign __sub_folder_dcase = __dir2 | downcase %}
                    {% comment %} if this subfolder {% endcomment %}
                    {% assign __open = "" %}
                    {% if __dir[0] == __this_folder and __dir[1] == __this_sub_folder %}
                        {% assign __open = "open" %}
                    {% endif %}
                    {% comment %} subfolder nav item {% endcomment %}
                    <details {{ __open }}>
                        {% comment %} subfolder name {% endcomment %}
                        <summary>
                            <div>
                                <a href="{% include function/resolve-path.liquid path=__page.path %}">
                                    {% include function/resolve-name.liquid path=__page.path %}
                                </a>
                                {% comment %} open / close button {% endcomment %}
                                <i class="summary-open fas fa-angle-up fa-fw fa-lg"></i>
                                <i class="summary-closed fas fa-angle-down fa-fw fa-lg"></i>
                            </div>
                        </summary>
                        {% comment %} subfolder files {% endcomment %}
                        <ul>
                            {% comment %} manual links {% endcomment %}
                            {% assign __rel = '/' | append: __this_folder_dcase | append : '/' | append: __sub_folder_dcase %}
                            {% for __link in site.data.links[__rel] %}
                                {% assign __external = __link | last | slice: 0 %}
                                {% unless __external == '/' %}
                                    {% assign __external = true %}
                                {% else %}
                                    {% assign __external = false %}
                                {% endunless %}
                                <li>
                                    <a href="{{ __link | last }}" {% if __external %}target="_blank"{% endif %}>
                                        {{ __link | first }}
                                        {% if __external %}
                                            <i class="fas fa-external-link-alt fa-fw"></i>
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                            {% comment %} file generated link {% endcomment %}
                            {% for __sub_page in __sorted %}
                                {% assign __sub_dir = __sub_page.path | split: '/' %}
                                {% comment %} if inside subfolder {% endcomment %}
                                {% if
                                    __sub_dir[0] == __this_folder_dcase and
                                    __sub_dir[1] == __sub_folder_dcase
                                %}
                                    {% comment %} and not index file {% endcomment %}
                                    {% assign __sdir3 = __sub_dir[2] | downcase %}
                                    {% if __sdir3 != "index.html" and __sdir3 != "readme.md" %}
                                        <li>
                                            <a href="{% include function/resolve-path.liquid path=__sub_page.path noext="true" %}">
                                                {% include function/resolve-name.liquid path=__sub_page.path %}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </details>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>